@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.header {
  @apply fixed w-full top-0 left-0 z-50;
  @apply bg-[#FFF] text-[#000] font-nunito font-bold shadow-lg;
}
.header__inner {
  @apply container h-[120px] flex justify-between items-center;
  @apply transition-all duration-300;
}
.header__logo {
  @apply flex font-bold items-center gap-2 text-xs lg:text-base z-50;
}
.header__logo img {
  @apply transition-all duration-300;
  @apply w-[92px];
}
.header__icon {
  @apply justify-self-end lg:hidden;
}
.header__icon i {
  @apply text-2xl;
}
.header__arrow {
  @apply transition-transform duration-300;
}
.header__arrow.active {
  @apply rotate-180;
}
.header__link {
  @apply text-dynamic-400 font-barlow block cursor-pointer;
  @apply relative py-1 px-4;
  @apply after:absolute after:bottom-1 after:left-4 after:right-4 after:h-[2px] after:bg-[#FF8300] after:scale-x-0 after:origin-left after:transition-transform after:duration-300;
}
.header__link:hover, .header__link.active {
  @apply text-[#FF8300];
}

.nav-desktop {
  @apply hidden lg:flex;
}
.nav-desktop .header__list {
  @apply flex flex-row justify-center items-center h-full gap-6;
}
.nav-desktop .header__list li {
  @apply border-r-2 border-r-[#FF8300];
}

.nav-mobile {
  @apply col-span-2 text-center;
  @apply opacity-0 invisible pointer-events-none transition-all duration-300;
  @apply absolute top-[96px] left-0 w-full h-[calc(100vh-96px)];
  @apply bg-[#FFF];
  @apply lg:hidden;
}
.nav-mobile.active {
  @apply opacity-100 visible pointer-events-auto;
}
.nav-mobile .header__list {
  @apply flex flex-col justify-center items-center h-full gap-6;
}

.swiper--trainings {
  @apply h-[450px] top-0 transition-all duration-500;
}
.swiper--trainings .swiper-slide {
  @apply flex delay-300 w-full h-[350px]  border-2 shadow-xl rounded-sm;
}
.swiper--trainings .swiper-pagination-bullet-active {
  @apply bg-white;
}
.swiper--trainings .swiper-wrapper {
  @apply flex items-center;
}
.swiper--trainings .swiper-pagination {
  @apply bottom-0;
}
.swiper--trainings .custom-bullet {
  @apply h-4 w-4 bg-[#FF8300];
}
.swiper--clients {
  @apply h-[380px] top-0 transition-all duration-500;
}
.swiper--clients .swiper-slide {
  @apply flex delay-300 w-full h-[250px]  border-2 shadow-xl rounded-sm;
}
.swiper--clients .swiper-pagination-bullet-active {
  @apply bg-white;
}
.swiper--clients .swiper-wrapper {
  @apply flex items-center;
}
.swiper--clients .swiper-pagination {
  @apply bottom-0;
}
.swiper--clients .custom-bullet {
  @apply h-4 w-4 bg-orange-600;
}

.social-networks {
  @apply animate-pulse z-40 w-20 h-20 fixed hover:animate-none hover:scale-[1.1] transition duration-500  md:bottom-32 lg:bottom-5  lg:right-20;
  @apply hidden lg:flex items-center justify-center rounded-full bg-[#24d367];
  @apply transition-all duration-500;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.social-networks__link {
  @apply text-5xl text-white;
}

@keyframes pulse {
  50% {
    opacity: 0.7;
  }
}
.loader {
  position: absolute;
  left: 50%;
  z-index: 9999;
  width: 52px;
  height: 52px;
  border: 10px solid #a59e9e;
  border-top: 10px solid #0123e7;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  @apply relative bg-primary-400 text-[#FFF];
}
.footer__arrow {
  @apply absolute left-0 -top-4 right-0 hidden sm:flex w-full z-20;
}
.footer__arrow a {
  @apply h-10 w-10;
  @apply flex justify-center items-center bg-[#FF8300] text-white hover:scale-[1.1] transition-all duration-300;
  @apply mx-auto rounded-full;
}
.footer__arrow a i {
  @apply text-xl;
}
.footer__inner {
  @apply container flex flex-col pt-5 px-3 sm:px-0;
}
@media (min-height: 500px) {
  .footer__inner {
    @apply px-2;
  }
}
.footer__title-container {
  @apply py-5;
}
.footer__title-container .footer__title {
  @apply text-start text-dynamic-300 font-bold;
}
.footer__content {
  @apply grid grid-cols-1 gap-10 sm:gap-5 sm:grid-cols-2 itm:grid-cols-3 pb-5;
}
.footer__content .footer__contact-list {
  @apply flex flex-col gap-4;
}
.footer__content .footer__contact-list .footer__contact {
  @apply flex items-center gap-4;
}
.footer__content .footer__contact-list .footer__contact i {
  @apply flex justify-center text-xl;
}
.footer__content .footer__contact-list .footer__contact a {
  @apply break-all;
}
.footer__content .footer__contact-list .footer__contact:hover {
  @apply text-[#ff8300];
}
.footer__content .footer__sections-list ul {
  @apply flex flex-col justify-start gap-4 sm:pl-12;
}
.footer__content .footer__sections-list li {
  @apply list-none text-dynamic-400 font-bold cursor-pointer;
}
.footer__content .footer__sections-list li:hover {
  @apply text-[#ff8300];
}
.footer__form {
  @apply flex flex-col gap-4;
}
.footer__form .footer__form-title-container {
  @apply flex flex-col gap-2 items-start justify-center;
}
.footer__form .footer__form-title-container h4 {
  @apply text-dynamic-400 font-bold;
}
.footer__form .footer__form-title-container p {
  @apply text-dynamic-400;
}
.footer__form .footer__form-content {
  @apply flex flex-col gap-4;
}
.footer__form .footer__form-content .footer__form-content-group {
  @apply flex flex-col gap-2;
}
.footer__form .footer__form-content .footer__form-content-group input {
  @apply w-full p-2 border-2 border-[#15375B] rounded-md text-black;
}
.footer__form .footer__form-content .footer__form-content-group textarea {
  @apply w-full p-2 border-2 border-[#15375B] h-[100px] rounded-md text-black;
}
.footer__form .footer__form-content .footer__form-content-button {
  @apply w-full;
}
.footer__form .footer__form-content .footer__form-content-button button {
  @apply bg-[#ff8300] text-white hover:text-[#ff8300] rounded-sm px-5 sm:px-10 py-2;
}
.footer__form .footer__form-content .footer__form-content-button button:hover {
  background: linear-gradient(to right, #ff8300 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.5s ease-in;
}
.footer__copyright {
  @apply text-center py-5;
}

.h3, .h2, .h1 {
  @apply text-[#000] font-bold;
}

.h1 {
  @apply text-dynamic-100 text-center;
}
.h1__span {
  @apply text-primary-400;
}
.h1--white {
  @apply text-white;
}

.h2 {
  @apply text-dynamic-200;
}
.h2--white {
  @apply text-white;
}
.h2__span {
  @apply text-[#000] text-center;
}

.h3 {
  @apply text-dynamic-300 text-center;
}
.h3--white {
  @apply text-white;
}

.description {
  @apply text-base lg:text-xl text-white;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.home-hero {
  @apply relative w-full mt-[120px];
}
.home-hero__figure {
  @apply relative bg-cover h-[70vh] sm:h-[90vh] overflow-hidden;
}
.home-hero__figure img {
  @apply absolute top-0 left-0 w-screen h-full xs:h-[90vh] 2xl:h-full;
}
.home-hero__figure::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.home-hero__content {
  @apply absolute top-0 left-0 right-0 z-10 container xs:w-full h-full;
}
.home-hero__content-container {
  @apply w-full;
  @apply text-start;
  @apply transform translate-y-[15%] itm:translate-y-[10%] text-white;
}
.home-hero__text {
  @apply w-full itm:w-4/6 flex flex-col gap-4;
}
.home-hero__content .home-hero__title {
  @apply text-dynamic-200 sm:text-dynamic-100 text-white font-bold font-barlow;
}
.home-hero__content .home-hero__description {
  @apply text-dynamic-400 sm:text-dynamic-300 text-white font-barlow;
}
.home-hero__button {
  @apply z-10 flex items-center justify-start py-4 sm:py-8;
}
.home-hero__button button {
  @apply bg-[#FF8300];
  @apply text-dynamic-300 text-white hover:text-[#ff8300] py-1 sm:py-2 px-3 sm:px-4 rounded-sm font-barlow;
}
.home-hero__button button:hover {
  background: linear-gradient(to right, #ff8300 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.5s ease-in;
}
@media (max-height: 450px) {
  .home-hero__figure {
    @apply relative bg-cover h-[120vh] overflow-hidden;
  }
  .home-hero__figure img {
    @apply absolute top-0 left-0 w-screen h-full;
  }
  .home-hero__figure::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
  .home-hero__content-container {
    @apply transform translate-y-[20%];
  }
}
@media (max-height: 380px) {
  .home-hero__figure {
    @apply relative bg-cover h-[200vh] overflow-hidden;
  }
  .home-hero__figure img {
    @apply absolute top-0 left-0 w-screen h-full;
  }
  .home-hero__figure::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
  .home-hero__content-container {
    @apply transform translate-y-[5%];
  }
}

.home-section-about {
  @apply bg-primary-300;
}
.home-section-about__container {
  @apply max-h-[100vh] w-full 2xl:container flex flex-col-reverse sm:flex-row;
}
.home-section-about__figure {
  @apply sm:w-1/2 bg-cover overflow-hidden;
}
.home-section-about__figure img {
  @apply w-full h-full;
}
.home-section-about__content {
  @apply sm:w-1/2 flex flex-col justify-center items-start py-5 sm:py-0 px-5 sm:px-12;
}
.home-section-about__content h3 {
  @apply text-primary-100 text-dynamic-200 font-bold font-barlow;
}
.home-section-about__content p {
  @apply text-primary-100 text-dynamic-300 font-barlow pr-12;
}
@media (max-height: 340px) {
  .home-section-about__container {
    @apply max-h-full;
  }
}

.home-section-founder {
  @apply w-full mt-10 sm:mt-20;
}
.home-section-founder__container {
  @apply container flex flex-col sm:flex-row;
}
.home-section-founder__figure {
  @apply flex items-center justify-center mx-auto;
}
.home-section-founder__figure img {
  @apply w-[250px] sm:w-[350px] md:w-[400px] h-[250px] sm:h-[350px] md:h-[400px] mx-auto rounded-full;
}
.home-section-founder__content {
  @apply sm:w-1/2 flex flex-col justify-center items-center gap-6 sm:items-start py-5 sm:py-0 px-2 sm:px-4;
}
.home-section-founder__content h3 {
  @apply text-primary-100 text-dynamic-200 font-bold text-center sm:text-start font-barlow;
}
.home-section-founder__content p {
  @apply text-primary-100 text-dynamic-300  text-center sm:text-start font-barlow;
}
.home-section-founder__content span {
  @apply text-dynamic-300 font-semibold text-center sm:text-start font-barlow;
}

.home-section-pillars {
  @apply w-full mt-10 sm:my-20;
}
.home-section-pillars__contain {
  @apply container flex flex-col justify-center items-center gap-3 sm:gap-6;
}
.home-section-pillars__contain h3 {
  @apply text-primary-100 text-dynamic-200 font-bold text-center font-barlow;
}
.home-section-pillars__grid {
  @apply relative grid grid-cols-1 sm:grid-cols-2 gap-6;
}
.home-section-pillars__grid .home-section-pillars__item {
  @apply flex flex-col items-center gap-5 px-10 sm:px-12 py-8 sm:py-16 shadow-xl rounded-sm;
}
.home-section-pillars__grid .home-section-pillars__item .home-section-pillars__title {
  @apply text-primary-100 text-dynamic-200 font-bold font-barlow;
}
.home-section-pillars__grid .home-section-pillars__item .home-section-pillars__description {
  @apply text-primary-100 text-dynamic-300 text-center font-barlow;
}

.home-section-benefits {
  @apply w-full 2xl:container;
}
.home-section-benefits__title {
  @apply sm:max-w-[75vw] mx-auto text-dynamic-200 text-primary-100 font-bold text-center py-5 sm:py-10 font-barlow;
}
.home-section-benefits__container {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 itm:grid-cols-4 sm:gap-[1px] place-content-center leading-7;
}
.home-section-benefits__card {
  @apply relative text-[#FFF] h-full bg-cover pt-24 mx-auto;
}
.home-section-benefits__card .home-section-benefits__figure {
  @apply absolute top-0 left-0 w-full sm:w-screen h-full sm:h-screen z-0 sm:transform sm:-translate-x-1/3;
}
.home-section-benefits__card .home-section-benefits__figure img {
  @apply w-full h-full bg-no-repeat bg-cover overflow-hidden;
}
.home-section-benefits__card .home-section-benefits__figure::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.home-section-benefits__card-content {
  @apply h-full bg-cover pb-20 z-10;
}
.home-section-benefits__card-content.active .home-section-benefits__card-icon {
  @apply transition-all duration-300;
}
.home-section-benefits__card-content.active .home-section-benefits__card-icon i {
  @apply rotate-180;
}
.home-section-benefits__card-content.active .home-section-benefits__card-p {
  @apply max-h-[700px] px-5 py-2;
  @apply text-white;
}
.home-section-benefits__card-content-box {
  @apply relative w-full h-fit;
}
.home-section-benefits__card-icon {
  @apply w-full sm:hidden px-5 flex justify-between items-center;
  @apply cursor-pointer gap-4 transition-all duration-300;
}
.home-section-benefits__card-icon span {
  @apply text-dynamic-300 font-bold;
}
.home-section-benefits__card-icon i {
  @apply w-9 h-9 text-2xl rounded-full text-white flex items-center justify-center;
}
.home-section-benefits__card-h2 {
  @apply hidden sm:flex font-barlow;
  font-weight: bold;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.home-section-benefits__card-p {
  @apply text-dynamic-400 font-barlow;
  @apply sm:text-dynamic-300 py-2 transition-all relative duration-300 overflow-hidden max-h-0 sm:max-h-full;
  color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 640px) {
  .home-section-benefits__card {
    @apply relative text-[#FFF] h-screen bg-cover pt-24 sm:pt-56 mx-auto overflow-hidden;
    transition: transform 500ms ease;
  }
  .home-section-benefits__card:hover {
    transform: scale(1.05);
    z-index: 20;
  }
  .home-section-benefits__card-content {
    @apply h-full bg-cover z-10;
    padding: 1rem 2rem;
    background: linear-gradient(hsla(0, 0%, 0%, 0), hsla(20, 0%, 0%, 0.3) 10%, hsl(0, 0%, 0%));
    transform: translateY(40%);
    transition: transform 500ms ease;
  }
  .home-section-benefits__card-content > *:not(.home-section-benefits__card-content-box) {
    opacity: 0;
    transition-delay: 800ms;
  }
  .home-section-benefits__card:hover .home-section-benefits__card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }
  .home-section-benefits__card:hover .home-section-benefits__card-content > * {
    opacity: 1;
  }
  .home-section-benefits__card-h2 {
    @apply text-[25px] break-all pb-1;
    font-weight: bold;
    position: relative;
    width: -moz-max-content;
    width: max-content;
  }
  .home-section-benefits__card-h2::after {
    content: "";
    position: absolute;
    height: 5px;
    left: -1.5rem;
    bottom: 0;
    width: 100%;
    background: #ff8300;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
  }
  .home-section-benefits__card:hover .home-section-benefits__card-h2::after {
    transform: scaleX(1);
  }
  .home-section-benefits__card-p {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media (max-height: 500px) {
  .home-section-benefits__card {
    @apply relative pt-16;
  }
  .home-section-benefits__card-content {
    transform: translateY(20%);
  }
}

.home-section-best-option {
  @apply w-full mt-10 sm:mt-20;
}
.home-section-best-option__contain {
  @apply container flex flex-col justify-center items-center gap-3 sm:gap-6;
}
.home-section-best-option__contain h3 {
  @apply text-primary-100 text-dynamic-200 font-bold text-start font-barlow;
}
.home-section-best-option__grid {
  @apply relative grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 itm:grid-cols-4 gap-6;
}
.home-section-best-option__grid .home-section-best-option__item {
  @apply flex flex-col items-center gap-6 px-6 sm:px-8 py-8 sm:py-10 max-w-[400px] shadow-xl rounded-sm;
}
.home-section-best-option__grid .home-section-best-option__item:hover {
  @apply shadow-2xl;
}
.home-section-best-option__grid .home-section-best-option__item .home-section-best-option__img {
  @apply w-full mx-auto rounded-sm max-w-[150px];
}
.home-section-best-option__grid .home-section-best-option__item .home-section-best-option__description {
  @apply text-primary-100 text-dynamic-300 text-center font-barlow;
}

.home-section-filter {
  @apply mt-10 sm:mt-20;
}
.home-section-filter__title {
  @apply text-primary-100 text-dynamic-200 font-bold text-center pb-5 sm:pb-10 font-barlow;
}
.home-section-filter__inner {
  @apply container sm:hidden;
}
.home-section-filter__inner-tabs {
  @apply relative py-5 sm:py-10 w-full h-full itm:overflow-hidden;
}
.home-section-filter__inner-tabs .home-section-filter__figure {
  @apply bg-cover h-full overflow-hidden;
}
.home-section-filter__inner-tabs .home-section-filter__figure img {
  @apply absolute top-0 left-0 right-0 w-full sm:w-screen h-full itm:h-[2300px] bg-cover overflow-hidden;
}
.home-section-filter__inner-tabs .home-section-filter__figure::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.home-section-filter__tab-wrapper {
  @apply flex justify-center;
}
.home-section-filter__tabs {
  @apply relative container hidden sm:flex sm:justify-center sm:gap-4 sm:flex-wrap  z-20;
}

.swiper {
  @apply z-20;
}
.swiper--filter .swiper-button-prev::after,
.swiper--filter .swiper-button-next::after {
  @apply font-bold  text-sm bg-[#ff8300] w-8 h-8 text-white flex justify-center items-center  rounded-full;
}

.btn {
  @apply z-30  sm:transition-all duration-150 ease-in-out;
}
.btn--filter {
  @apply py-2 px-6 sm:px-2 bg-transparent text-dynamic-300 text-[#FFF];
  @apply hover:border-b-4 hover:border-[#ff8300];
}
.btn--filter.active {
  @apply border-b-4 border-[#ff8300] text-dynamic-300 font-bold;
}

.card-product {
  @apply relative z-20;
  @apply mx-3 sm:mx-0;
  @apply bg-white;
  @apply max-w-[380px] min-h-[350px] sm:min-h-[550px];
  @apply shadow-[10px_10px_50px_rgba(175,175,175,0.25)] rounded-sm;
}
.card-product__grid {
  @apply grid justify-center gap-8 container lg:grid lg:grid-cols-3 xl:grid-cols-4 pt-8;
}
.card-product__title-container {
  @apply flex flex-col items-center justify-center gap-2 px-5 sm:px-8 h-36 py-2  border-b-4 border-[#ff8300];
}
.card-product__title {
  @apply font-bold lg:font-bold text-primary-100 text-dynamic-300 text-center font-barlow;
}
.card-product__content {
  @apply flex flex-col justify-center gap-6 py-5 sm:py-8 px-5 sm:px-10;
}
.card-product__content-objective {
  @apply flex flex-col items-start justify-center gap-2;
}
.card-product__content-objective h4 {
  @apply text-primary-100 text-dynamic-300 font-bold font-barlow;
}
.card-product__content-objective p {
  @apply text-primary-100 text-dynamic-400 font-semibold font-barlow;
}
.card-product__content-about {
  @apply flex flex-col items-start justify-center gap-2;
}
.card-product__content-about h4 {
  @apply text-primary-100 text-dynamic-300 font-bold font-barlow;
}
.card-product__content-about ul {
  @apply list-disc list-inside;
}
.card-product__content-about ul li {
  @apply text-primary-100 text-dynamic-400 font-semibold;
}

.scroll-animation-item-multimedia-left {
  animation: reveal-multimedia-left linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 25%;
}
.scroll-animation-item-contain {
  animation: reveal-contain linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
.scroll-animation-item-multimedia-right {
  animation: reveal-multimedia-right-mobile linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 25%;
}

@media (min-width: 640px) {
  .scroll-animation-item-multimedia-left {
    animation: reveal-multimedia-left linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 25%;
  }
  .scroll-animation-item-contain {
    animation: reveal-contain linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
  .scroll-animation-item-multimedia-right {
    animation: reveal-multimedia-right linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 25%;
  }
}
.section-images {
  @apply columns-2 px-5 py-4 gap-4;
}

@keyframes reveal-contain {
  from {
    opacity: 0;
    translate: 0 50px;
    scale: 0.8;
    transition: all;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}
@keyframes reveal-multimedia-right {
  from {
    opacity: 0;
    translate: 200px 0;
    scale: 0.8;
    transition: all;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}
@keyframes reveal-multimedia-right-mobile {
  from {
    opacity: 0;
    translate: 0 0;
    scale: 0.4;
    transition: all;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}
@keyframes reveal-multimedia-left {
  from {
    opacity: 0;
    translate: -200px 0;
    scale: 0.8;
    transition: all;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}
.home-trainings {
  @apply container mt-20;
}
.home-trainings__heading {
  @apply text-center;
  @apply grid grid-rows-1 justify-items-center text-center px-5 sm:px-20 itm:px-40;
}
.home-trainings__heading h3 {
  @apply text-dynamic-200 text-primary-100 font-bold font-barlow;
}
.home-trainings__figure {
  @apply w-full rounded-2xl flex items-center;
}
.home-trainings__figure .home-trainings__img {
  @apply m-auto bg-cover w-full h-full;
}

.home-clients {
  @apply container mt-20;
}
.home-clients__heading {
  @apply text-center;
  @apply grid grid-rows-1 justify-items-center text-center px-5 sm:px-20 itm:px-40;
}
.home-clients__heading h3 {
  @apply text-dynamic-200 text-primary-100 font-bold font-barlow;
}
.home-clients__figure {
  @apply w-full rounded-2xl flex items-center;
}
.home-clients__figure .home-clients__img {
  @apply m-auto bg-cover w-full h-full;
}

.home-section-banner {
  @apply relative w-full mt-20 h-[50vh] sm:h-[60vh] lg:h-[70vh]  max-h-full overflow-hidden;
}
.home-section-banner__figure {
  @apply relative bg-cover bg-center h-screen overflow-hidden transform -translate-y-40;
}
.home-section-banner__figure img {
  @apply absolute top-0 left-0 w-full sm:w-screen h-full itm:h-[900px] 2xl:h-full;
}
.home-section-banner__figure::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
@media (max-height: 500px) {
  .home-section-banner {
    @apply h-[100vh] max-h-full;
  }
  .home-section-banner__figure {
    @apply transform -translate-y-0;
  }
}
.home-section-banner__content {
  @apply w-full;
}
.home-section-banner__content-container {
  @apply container sm:w-full;
  @apply z-10 absolute top-0 left-0 right-0;
  @apply px-5 sm:px-10;
  @apply transform translate-y-[50%];
}
.home-section-banner__title {
  @apply w-3/4 sm:w-1/2 text-dynamic-200 text-[#FFF]  font-bold text-start font-barlow;
}
.home-section-banner__content .home-section-banner__btn {
  @apply z-10 flex items-center  justify-start py-4 sm:py-8;
}
.home-section-banner__content .home-section-banner__btn button {
  @apply bg-[#FF8300];
  @apply text-dynamic-300 text-white hover:text-[#ff8300] py-1 sm:py-2 px-3 sm:px-4 rounded-sm;
}
.home-section-banner__content .home-section-banner__btn button:hover {
  background: linear-gradient(to right, #ff8300 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.5s ease-in;
}

.vendors-div {
  @apply w-full bg-fuchsia-700 flex items-center justify-center;
}

@tailwind components;
@tailwind base;
@tailwind utilities;
body {
  @apply bg-primary-300;
}