#loading {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0) url(../../public/img/loading.gif) no-repeat center
    center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  z-index: 2000;
}

.header {
  @apply fixed w-full top-0 left-0 z-50;
  @apply bg-[#FFF] text-primary-100  shadow-lg font-barlow;

  &__inner {
    @apply container h-[130px] flex justify-between items-center;
    @apply transition-all duration-300;
  }

  &__logo {
    @apply flex font-bold items-center gap-2 text-xs lg:text-base z-50;

    img {
      @apply transition-all duration-300;
      @apply w-[130px];
    }
  }

  &__icon {
    @apply justify-self-end lg:hidden;
    i {
      @apply text-4xl;
    }
  }

  &__arrow {
    @apply transition-transform duration-300;

    &.active {
      @apply rotate-180;
    }
  }

  &__link {
    @apply text-dynamic-300  block cursor-pointer font-bold;
    @apply relative py-0 px-8;
    @apply after:absolute after:bottom-1 after:left-4 after:right-4 after:h-[2px] after:bg-primary-200 after:scale-x-0 after:origin-left after:transition-transform after:duration-300;
    &:hover,
    &.active {
      // @apply after:transition-transform after:duration-300 after:scale-x-100;
      @apply text-primary-200;
    }
  }
}

.nav-desktop {
  @apply hidden lg:flex;

  .header__list {
    @apply flex flex-row justify-center items-center h-full;

    li {
      @apply border-r-2 border-r-primary-200;
    }
  }
}

.nav-mobile {
  @apply col-span-2 text-center;
  @apply opacity-0 invisible pointer-events-none transition-all duration-300;
  @apply absolute top-[96px] left-0 w-full h-[calc(100vh-96px)];
  @apply bg-[#FFF];
  @apply lg:hidden;

  &.active {
    @apply opacity-100 visible pointer-events-auto;
  }

  .header__list {
    @apply flex flex-col justify-center items-center h-full gap-6;
  }
}

// Swiper
.swiper {
  &--trainings {
    @apply h-[480px] sm:h-[470px] top-0 transition-all duration-500;

    & .swiper-slide {
      @apply bottom-10 sm:bottom-5 flex delay-300 w-full h-[300px] sm:h-[350px]  border-2 shadow-xl rounded-sm;
    }

    & .swiper-pagination-bullet-active {
      @apply bg-white;
    }

    & .swiper-wrapper {
      @apply flex items-center;
    }

    & .swiper-pagination {
      @apply -bottom-5 sm:bottom-0;
      @apply sm:px-10 itm:px-60;
    }

    & .custom-bullet {
      @apply h-4 w-4 bg-[#FF8300];
    }
  }

  &--clients {
    @apply h-[280px] sm:h-[320px] top-0 transition-all duration-500;

    & .swiper-slide {
      @apply bottom-0 sm:bottom-2;
      @apply flex delay-300 w-full h-[180px] sm:h-[220px]  border-2 shadow-xl rounded-sm;
    }

    & .swiper-pagination-bullet-active {
      @apply bg-white;
    }

    & .swiper-wrapper {
      @apply flex items-center;
    }

    & .swiper-pagination {
      @apply bottom-0;
    }

    & .custom-bullet {
      @apply h-4 w-4 bg-primary-200;
    }
  }

  &--about {
    @apply w-full sm:w-1/2 h-[55vh] sm:h-[75vh] itm:h-[95vh]  transition-all duration-500;

    & .swiper-slide {
      @apply bottom-10 xs:bottom-6 sm:bottom-5;
      @apply flex delay-300 w-screen sm:w-full h-[350px] sm:h-[calc(100vh-200px)] itm:h-[calc(100vh-100px)]  border-2 shadow-xl rounded-sm;
    }

    & .swiper-pagination-bullet-active {
      @apply bg-white;
    }

    & .swiper-wrapper {
      @apply min-h-[350px] flex items-center;
    }

    & .swiper-pagination {
      @apply bottom-0;
    }

    & .custom-bullet {
      @apply h-4 w-4 bg-primary-200;
    }

    @media (max-height: 450px) {
      @apply w-full  h-[95vh];

      & .swiper-slide {
        @apply bottom-10;
        @apply w-full h-[100vh];
      }

      & .swiper-pagination {
        @apply bottom-0;
      }
    }

    @media (min-height: 1000px) {
      @apply h-[920px];

      & .swiper-slide {
        @apply bottom-10;
        @apply h-[900px];
      }

      & .swiper-pagination {
        @apply bottom-5;
      }
    }
  }
}

// Redes sociales
.social-networks {
  @apply animate-pulse z-40 w-20 h-20 fixed hover:animate-none hover:scale-[1.1] transition duration-500  md:bottom-32 lg:bottom-5  lg:right-20;
  @apply hidden lg:flex items-center justify-center rounded-full bg-[#24d367];
  // estylos para que desaparezca mas suave
  @apply transition-all duration-500;

  &__link {
    @apply text-5xl text-white;
  }

  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.7;
  }
}

// Loading...
.loader {
  position: absolute;
  // top: 50%;
  left: 50%;
  z-index: 9999;
  width: 52px;
  height: 52px;
  border: 10px solid #a59e9e;
  border-top: 10px solid #0123e7;
  border-radius: 50%;
  // transform: translate(-50%, -50%);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  @apply relative bg-primary-400 text-[#FFF] font-barlow;

  &__arrow {
    @apply absolute left-0 -top-4 right-0 hidden sm:flex w-full z-20;

    a {
      @apply h-12 w-12;
      @apply flex justify-center items-center bg-primary-200 text-white hover:scale-[1.1] transition-all duration-300;
      @apply mx-auto rounded-full;

      i {
        @apply text-2xl;
      }
    }
  }

  &__inner {
    @apply container flex flex-col pt-5 px-3 sm:px-0;
  }

  @media (min-height: 500px) {
    &__inner {
      @apply px-2;
    }
  }

  &__title-container {
    @apply py-5;
  }

  &__title-container &__title {
    @apply text-start text-dynamic-300 font-bold;
  }

  &__content {
    @apply grid grid-cols-1 gap-10 sm:gap-5 sm:grid-cols-2 itm:grid-cols-3 pb-5;
  }

  &__content &__contact-list {
    @apply flex flex-col gap-4 text-dynamic-300;
  }

  &__content &__contact-list &__contact {
    @apply flex items-center gap-4;

    i {
      @apply flex justify-center text-xl min-w-5;
    }

    a {
      @apply break-all;
    }
  }

  &__content &__contact-list &__contact:hover {
    @apply text-primary-200;
  }

  &__content &__sections-list {
    ul {
      @apply flex flex-col justify-start gap-4 sm:pl-12;
    }
    li {
      @apply list-none text-dynamic-300 font-semibold cursor-pointer;
    }
    li:hover {
      @apply text-[#ff8300];
    }
  }

  &__form {
    @apply flex flex-col gap-4;
  }
  &__form &__form-title-container {
    @apply flex flex-col gap-2 items-start justify-center;

    h4 {
      @apply text-dynamic-300 font-semibold;
    }

    p {
      @apply text-dynamic-400;
    }
  }

  &__form &__form-content {
    @apply flex flex-col gap-4;
  }
  &__form &__form-content &__form-content-group {
    @apply flex flex-col gap-2;

    input {
      @apply w-full p-2 border-2 border-[#15375B] rounded-md text-black;
    }
    textarea {
      @apply w-full p-2 border-2 border-[#15375B] h-[100px] rounded-md text-black;
    }
  }
  &__form &__form-content &__form-content-button {
    @apply w-full;

    button {
      @apply bg-primary-200 text-white hover:text-primary-200 rounded-sm px-5 sm:px-10 py-2;
    }

    button:hover {
      background: linear-gradient(to right, #ff8300 50%, #fff 50%);
      background-size: 200% 100%;
      background-position: right;
      transition: all 0.5s ease-in;
    }
  }

  &__copyright {
    @apply text-center py-5;
  }
}
